.logo{
     width:12%;

}
.btn{
    
    padding:8px 15px;
    background-color:#e50914;
    cursor:pointer;
    color:white;
    display:inline-block;
    text-decoration: none;
    border-radius: 3px;

}
#signin-btn:hover {
     background-color: #ff3e23;
 }
 #body{
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 20px;
     background-color: #111;
}
.nav{
     padding-top:5px;
     padding-left: 2vw;
     padding-right: 5vw;
     height: 10ph;
     display: flex;
     justify-content: space-between;
     align-items: center;
}
select{
     margin-left:70%;
     padding:8px;
     
}
body{
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     background:rgba(0,0,0,0.6) url(netflix.jpg);
     background-blend-mode:darken;
}
.content{
     color:white;
     position:absolute;
     margin-top: 8%;
     margin-left: 30%;
    
}
.content h1{
     font-size: 50px;
}
.content h2{
     font-size:30px;
}
.content p{
     font-size: 13px;
}
.mail{
     width:100%;
     height:fit-content;
     align-items:center;
     background-color:white;
     display: flex;
     justify-content: space-between;

}
.mail input{
     outline:none;
     border:none;
     padding: 12px 10px;
     size:1em;
     
}
.mail a{
     height:fit-content;
     background-color: red;
     padding:18px 12px;
     text-decoration:none;
}

            

